body,
html {
    width: 100%;
	height: 100%;
}

body {
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

/**NAVIGATION BAR**/
.navbar-custom {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	background-color: black;
	font-family: HelveticaNeue;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 7.0625rem;
	height: 2rem;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #fff;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #e40000;
	border-bottom: 3px solid #e40000;
}

/**DROPDOWN**/
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: inline-block;
}

.navbar-custom .dropdown-menu {
	background-color: black;
	width: 350px;
	/* position: relative;
	left: -200px; */
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background: none;
}
 
.navbar-custom .dropdown-item:hover {
	color: #e40000;
}

.drpdownimg {
	width: 100px;
	height: auto;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (min-width: 501px) {
	.mobileshown { 
		display: none; 
	}
}

/**ONLY ON MOBILE SCREENS**/
@media only screen and (max-width: 500px) {
	.mobilehidden {
		  display: none;
	}

	.mobile-center {
		clear: both;
		min-width: 220px;
		margin: auto;
		bottom: 100px;
	}

	.navbar-collapse {
    	height: 75vh;
	}

	.dismorebtn {
		position: relative;
		text-align: center;
	}

	.sameline {
		position: relative;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
}

.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block;
	min-width: auto;
	animation: fadeDropdown 0.2s;
}

/**NAVIGATION BAR FOR MOBILE**/
.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}

/**SLIDER**/
.slider {
	padding-top: 4.375rem;
	padding-bottom: 6.5rem;
	background-color: black;
}

.slider .swiper-container {
	position: static;
	width: 100%;
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
	outline: none;
}

.slider .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider .card-image {
	width: 85%;
	height: auto;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
}

.carname {
	width: 65%;
	height: auto;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
}

.redcar {
	height: 400px;
}

.slider .swiper-button-prev {
	left: 1rem;
	width: 1.375rem;
	background-size: 1.375rem 2.125rem;
}

.slider .swiper-button-next {
	right: 1rem;
	width: 1.375rem;
	background-size: 1.375rem 2.125rem;
}

@media (min-width: 992px) {
	.p-heading {
		width: 65%;
	}
}

/**ONLY ON BIG SCREENS**/
@media (min-width: 1200px) {
	.navbar-custom {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.dismorebtn {
		position: relative;
		text-align: center;
		bottom: 80px;
	}
}

.btn {
	width: 201px;
	height: 41px;
	background: none;
	color: #fff;
	font-family: Montserrat-Medium;
	font-size: small;
	border: 0.2px solid grey;
	border-radius: 100px;
}

/**SOCIAL MEDIA ICONS**/
.fa {
	float: left;
	font-size: 15px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
	color: white;
	text-decoration: none;
}

.fa-facebook {
	background: none;
	color: white;
}

.fa-twitter {
background: none;
color: white;
}

.fa-instagram {
	background: none;
	color: white;
}

/**PAGINATION**/
#left {
	float:left;
	width:100px;
}
#right {
	float:right;
	width:100px;
}
#center {
	margin:0 auto;
	width:100px;
}

.pagination {
	float: right;
	top: 118px;
}

.sameline {
	display: flex;
	justify-content: space-between;
}

.arrow {
	width: 15%;
}

.pagination-link {
	text-decoration: none;
	color: white;
	font-family: Montserrat-Medium;
	font-size: small;
}

.pagination-link:hover {
	color: white;
	text-decoration: none;
}